.main {
  height: 45px;
  min-width: 140px;
  width: fit-content;
  padding-inline: 20px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  color: var(--light);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: visible;
  &:hover {
    color: var(--secondary);
    svg {
      :nth-child(1) {
        stroke-dashoffset: 380;
      }
      :nth-child(2) {
        stroke-dashoffset: 620;
      }
    }
  }
}

.outline {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  // z-index: -1;
  overflow: visible;
  :nth-child(1) {
    stroke-dasharray: 80, 340;
    stroke-dashoffset: 200;
  }
  :nth-child(2) {
    stroke-dasharray: 80, 340;
    stroke-dashoffset: 380;
  }
  rect {
    fill: transparent;
    transition: 0.5s all;
    stroke: var(--secondary);
    stroke-width: 2px;
    height: 100%;
    width: 100%;
  }
}
