@import "../../styles/breakpoint";

.main {
  background-image: url("/search-team-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &[data-bg="true"] {
    background-image: url("/capital-team-bg.png");
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 20px;
  padding-inline: 25px;
  min-height: calc(100vh - 376px);
  @include lg {
    padding-inline: 0px;
  }
  h5 {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary);
    font-size: toRem(16);
    line-height: calc(toRem(16) * 1.4);
    margin-top: 100px;
    @include lg {
      position: absolute;
      top: 0;
      margin-left: 180px;
      height: 80px;
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1400px) {
      margin-left: 150px;
    }
    @media screen and (min-width: 1800px) {
      margin-left: 0px;
    }
  }
}

.gridControl {
  position: relative;
  margin-bottom: 100px;
  @include lg {
    margin-top: 100px;
    margin-bottom: 0;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.8s all ease-in-out;

  @include lg {
    padding-top: 100px;
    min-height: 770px;
    margin-left: calc(200px * 2);
    flex-direction: row;
  }
}

.controlBtn {
  display: none;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  border: 1px solid var(--light);
  border-radius: 999px;
  background-color: transparent;
  height: 100px;
  width: 100px;
  color: var(--light);
  z-index: 4;
  font-size: 80px;
  align-items: center;
  justify-content: center;
  transition: 0.3s all var(--custom-ease-out);
  cursor: pointer;
  @include lg {
    display: flex;
  }
  &[data-left] {
    right: auto;
    left: 0;
  }
  &:active {
    transform: scale(0.9) translateY(-50%);
  }
  &:hover {
    color: var(--secondary);
  }
}

.bullets {
  display: none;
  @include lg {
    display: flex;
    gap: 10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    z-index: 10;
  }
}

.bullet {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 999px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  transition: 0.3s all var(--custom-ease-out);
  &[data-active="true"] {
    transform: scale(1.2);
    background-color: transparent;
  }
}
