@import "../../styles/breakpoint";
.main {
  background-image: url("/search-bio-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  &[data-bg="true"] {
    background-image: url("/capital-bio-bg.png");
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 25px;
  padding-top: 120px;
  gap: 40px;
  @include lg {
    gap: 80px;
    padding-top: 180px;
    padding-inline: 0px;
  }
}

.head {
  display: flex;
  justify-content: flex-end;
  @include lg {
    justify-content: space-between;
  }
  h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary);
    display: none;
    font-size: toRem(20);
    line-height: calc(toRem(20) * 1.5);
    @include lg {
      display: block;
    }
  }
  button {
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: var(--secondary);
    font-size: toRem(16);
    line-height: calc(toRem(16) * 1.5);
    @include lg {
      font-size: toRem(14);
      line-height: calc(toRem(14) * 1.5);
    }
    svg {
      margin-left: 5px;
    }
  }
}

.grid {
  display: flex;
  margin-bottom: 150px;
  flex-direction: column;
  gap: 35px;
  @include lg {
    gap: 150px;
    flex-direction: row;
  }
}

.img {
  position: relative;
  width: 100%;
  height: calc(100vw - 50px);
  @include lg {
    width: 445px;
    height: 545px;
    min-width: 445px;
  }
  img {
    object-fit: cover;
    object-position: top;
    @include lg {
      object-position: center;
      object-fit: contain;
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include lg {
    gap: 60px;
    margin-top: 100px;
  }
  &_head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-weight: 600;
      @include lg {
        font-size: toRem(52);
        line-height: calc(toRem(52) * 1.2);
      }
    }
    h2 {
      font-weight: 600;
      @include lg {
        font-size: toRem(28);
        line-height: calc(toRem(28) * 1.3);
      }
    }
  }

  &_contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        color: var(--secondary);
        font-size: toRem(22);
      }
      p {
        font-weight: 400;
        @include lg {
          font-size: toRem(22);
          line-height: calc(toRem(22) * 1.4);
        }
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-weight: 400;
      font-size: toRem(18);
      line-height: calc(toRem(18) * 1.5);
    }
  }
}
