@import "../../styles/breakpoint";

.main {
  background-color: #2a2b2f;
  padding-block: 50px;
  @include lg {
    padding-block: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
  height: fit-content;
  justify-content: center;
  padding-inline: 25px;
  @include lg {
    padding-inline: 0px;
    height: 376px;
  }
}

.upper {
  display: flex;
  gap: 32px;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
  h5 {
    color: #828181;
    font-size: toRem(14);
    line-height: calc(toRem(14) * 1.5);
    border-bottom: 2px solid #828181;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  p,
  a {
    font-weight: 400;
    font-size: toRem(14);
    line-height: calc(toRem(14) * 1.5);
    @include lg {
      font-size: toRem(12);
      line-height: calc(toRem(12) * 1.5);
    }
  }
}

.side1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  @include lg {
    width: 60%;
  }
  &_img {
    position: relative;
    width: 170px;
    height: 70px;
    margin-bottom: 20px;
    img {
      object-fit: contain;
    }
  }
}

.side2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    text-decoration: none;
    color: var(--light);
    transition: 0.3s all ease;

    &:hover {
      color: var(--secondary);
    }
  }
  @include lg {
    margin-top: 40px;
    width: 20%;
    :nth-child(2) {
      margin-top: 10px;
    }
  }
}

.side3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include lg {
    margin-top: 40px;
    width: 20%;
    p:nth-child(2) {
      margin-top: 5px;
    }
  }
  a {
    margin-top: -12px;
    color: var(--light);
    transition: 0.3s all ease;

    &:hover {
      color: var(--secondary);
    }
  }
  :nth-child(2) {
    color: var(--light);
  }
  :nth-child(4) {
    color: #959597;
  }
  &_input {
    display: flex;
    gap: 15px;
    input {
      background-color: #959597;
      color: var(--light);
      height: 32px;
      border: none;
      padding: 10px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: var(--light);
      }
    }

    button {
      height: 32px;
      width: 32px;
      background-color: #959597;
      border: none;
      color: var(--light);
      svg {
        font-size: 28px;
      }
    }
  }
}

.lower {
  border-top: 1px solid rgba(130, 129, 129, 0.5);
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  @include lg {
    gap: 0px;
    align-items: center;
    flex-direction: row;
  }
  p {
    text-transform: uppercase;
    color: rgba(130, 129, 129, 0.5);
    font-size: toRem(11);
    line-height: calc(toRem(11) * 1.5);
    a {
      color: rgba(255, 254, 254, 0.5);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  svg {
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 999px;
    color: #2a2b2f;
    font-size: 34px;
    padding: 5px;
  }
}
