@import "../../styles/breakpoint";

.main {
  background-image: url("/capital-contact-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &[data-condition="true"] {
    background-image: url("/search-contact-bg.png");
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 25px;
  @include lg {
    padding-inline: 0;
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 70px;
  @include lg {
    gap: 60px;
  }
  h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary);
    font-size: toRem(16);
    line-height: calc(toRem(16) * 1.5);
    @include lg {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 80px;
      margin-top: 25px;
      margin-left: 180px;
      top: 0;
    }
    @media screen and (min-width: 1400px) {
      margin-left: 150px;
    }
    @media screen and (min-width: 1800px) {
      margin-left: 0px;
    }
  }

  h1 {
    font-weight: 500;
    max-width: 980px;
    font-size: toRem(28);
    line-height: calc(toRem(28) * 1.4);
    @include lg {
      font-size: toRem(48.5);
      line-height: toRem(60.5);
      letter-spacing: 1.21px;
    }
  }
  a {
    color: var(--light);
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: 0.3s all ease;
    &:hover {
      color: var(--secondary);
    }
    svg {
      color: var(--secondary);
      margin-right: 10px;
      font-size: toRem(25);
    }
    font-size: toRem(24);
    line-height: calc(toRem(24) * 1.4);
    @include lg {
      font-size: toRem(18);
      line-height: calc(toRem(18) * 1.5);
    }
  }
}

.detail {
  display: flex;
  gap: 50px;
  margin-bottom: 120px;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
  &_box {
    display: flex;
    gap: 26px;
    svg {
      color: var(--secondary);
      font-size: toRem(24);
      margin-top: 4px;
      @include lg {
        font-size: toRem(20);
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h5 {
        margin-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: toRem(24);
        line-height: calc(toRem(24) * 1.4);
        @include lg {
          font-size: toRem(18);
          line-height: calc(toRem(18) * 1.5);
        }
      }
      p {
        font-weight: 400;

        font-size: toRem(18);
        line-height: calc(toRem(18) * 1.5);
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 940px;
  margin-bottom: 150px;

  h2 {
    text-transform: uppercase;
    font-weight: 400;

    font-size: toRem(20);
    line-height: calc(toRem(20));
  }

  button {
    background-color: var(--secondary);
    border-radius: 8px;
    font-size: toRem(14);
    line-height: calc(toRem(14) * 1.5);
    color: var(--light);
    align-self: flex-end;
    border: none;
    height: 45px;
    width: 150px;
    cursor: pointer;
  }
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include lg {
    display: grid;
    column-gap: 8px;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    border: none;
    font-family: "Raleway", sans-serif;
    background-color: #959597;
    height: 50px;
    padding: 10px;
    font-size: toRem(18);
    line-height: calc(toRem(18) * 1.5);
    @include lg {
      font-size: toRem(14);
      line-height: calc(toRem(14) * 1.5);
    }
    color: var(--light);
    &::placeholder {
      color: var(--light);
    }
    &:focus {
      outline: none;
    }
  }
  textarea {
    padding: 10px;
    background-color: #959597;
    grid-column: 1/3;
    font-family: "Raleway", sans-serif;
    font-size: toRem(18);
    line-height: calc(toRem(18) * 1.5);
    @include lg {
      font-size: toRem(14);
      line-height: calc(toRem(14) * 1.5);
    }
    &::placeholder {
      color: var(--light);
    }
    &:focus {
      outline: none;
    }
  }
}

.bottom {
  background-color: var(--primary);
  height: 515px;
  display: flex;
  align-items: center;
  &[data-condition="true"] {
    background-color: #e91b50;
  }
  &_img {
    position: relative;
    width: 250px;
    height: 88px;
    cursor: pointer;
    transition: 0.3s all var(--custom-ease-out);
    &:hover {
      transform: scale(1.2);
    }
    img {
      object-fit: contain;
    }
  }
  &_box {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    gap: 25px;
    @include lg {
      gap: 46px;
      padding-inline: 25px;
    }
    h5 {
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      @include lg {
        font-size: toRem(18);
        line-height: calc(toRem(18) * 1.5);
      }
    }
    h1 {
      text-align: center;
      font-weight: 600;
      color: var(--light);
      transition: 0.3s all ease;
      cursor: pointer;
      &:hover {
        color: var(--secondary);
      }
      @include lg {
        font-size: toRem(40);
        line-height: calc(toRem(40) * 1.2);
      }
    }
    p {
      font-weight: 400;
      text-align: center;
      max-width: 480px;
      @include lg {
        font-size: toRem(16);
        line-height: calc(toRem(16) * 1.5);
      }
    }
  }
}

.map {
  border: none;
  height: calc(100vw - 50px);
  margin-bottom: 70px;
  @include lg {
    width: 780px;
    height: 440px;
  }
}
