:root {
  --dark: rgb(0, 0, 0);
  --light: rgb(255, 255, 255);
  --gray: rgb(42, 43, 47);
  --background: rgb(1, 1, 1);
  --primary: rgb(149, 54, 143);
  --accent: rgb(233, 27, 80);
  --secondary: rgb(247, 146, 40);
  --custom-ease-out: cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#__next {
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: var(--light);
  overflow-x: hidden;
}

button,
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
